---
layout: default
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="contact" aria-label="Contact">
      <div class="wrapper">

        <h2 class="contact-header">“PRINCIPLE OF LEAST ASTONISHMENT”</h2>

        <div class="contact">
          <p>
            We form an integral part of the team throughout the software development lifecycle, exposing unwanted surprises at the earliest possible stage.
          </p>

          <p>
            Our technicals testers can assess your requirements and implement solutions at various testing levels to support high quality releases.
          </p>

          <p>
            Contact us to see how we can assist in building quality into your product.
          </p>
          <br>
          <p align="right">
            <img src="/assets/img/e.png" height=25px>
            : info@polasoftwaretesting.com
          </p>
        </div>
        
      </div>
    </main>

  </body>

</html>




